/*
Primary - hsl(199,33%,67%) blue
p1 hsl(199,33%,42%)
p2 hsl(199,33%,67%)
p3 hsl(199,33%,92%)


Secondary - hsl(4,9%,35%) dark brown
s1 hsl(4,9%,15%)
s2 hsl(4,9%,30%)
s3 hsl(4,9%,60%)

Greys
hsl(0,0%,10%)
hsl(0,0%,30%)
hsl(0,0%,50%)
hsl(0,0%,70%)
hsl(0,0%,90%)


 */

html {
    background-color: hsl(199,33%,42%);
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 18px;
}
/*for mobile devices*/
@media (max-width: 635px) {
    #img-div {
    padding: 10px;
    margin: auto center 0;
    /*min-width: 2px;*/
    /*font-size: 2rem;*/
    }
    ul {
    /*constricting margins for better layout*/
    margin: 0 25vw 0 20vw;
    text-align: center;
    line-height: 1.8;
    white-space: nowrap;
    }
    html {
        font-size: 12px;
    }
}
body {
    /*Gray background */
    /*background: #eee;*/
    background-color: hsl(199,33%,67%);
    background-repeat: no-repeat;
    /*cover entire element*/
    background-size: cover;
    box-shadow: 0px 0px 8px hsl(0,0%,30%);
    font-size: 1rem;
    margin: 0px 10vw;
}
header {
    text-align: center;
    background-position: center;
    padding: 1vmin;
}
h1 {
    font-size: 4rem;
    /*decrease space between subheader*/
    line-height: .2;
    color: hsl(4,9%,15%);
    /*text-shadow: 2px 2px 2px hsl(4,9%,60%);*/
}
header > p {
    font-size: 1.4rem;
}
#image {
    /*center within parent*/
    display: block;
    margin: auto;
    height: auto;
    /*scalable for smaller screens*/
    max-width: 100%;
}
#img-caption {
    text-align: center;
    margin: 1vw 0 1vw 0;
}
#img-div {
    background: hsl(199,33%,92%);
    box-shadow: 0px 0px 4px hsl(0,0%,30%);
    padding: 10px;
    margin: auto 30vw;
    font-size: 1rem;
}
.tribute-info {
    color: hsl(0,0%,10%);
}
ul {
    /*constricting margins for better layout*/
    margin: 0 24vw 0 20vw;
    max-width:50vmax;
    text-align: left;
    line-height: 1.8;
    white-space: nowrap;
}
h3 {
    text-align: center;
    margin: 5vh 0 2vh;
    padding-bottom: 1vh;
    font-size: 1.5rem;
    color: hsl(4,9%,25%);
    /*text-shadow: 2px 2px 2px hsl(4,9%,60%);*/
}
blockquote {
    max-width: 50vw;
    font-style: italic;
    text-align: left;
    margin: 0 25vw;
}
.screen-only {
    font-size: 1.2rem;
}
a:link {
    color: hsl(4,9%,10%);
    text-decoration: none;
}
a:hover {
    text-decoration: underline overline;
}
footer {
    text-align: center;
    background-color: hsl(199,33%,17%);
    /*margin: 0px 10vw;*/
    padding: 1rem 2rem;
}
footer p {
    color: hsl(199,33%,92%);
}
@media print {
    .screen-only {
        display: none;
        text-decoration: none;
    }
}