/*
Primary - hsl(199,33%,67%) blue
p1 hsl(199,33%,42%)
p2 hsl(199,33%,67%)
p3 hsl(199,33%,92%)


Secondary - hsl(4,9%,35%) dark brown
s1 hsl(4,9%,15%)
s2 hsl(4,9%,30%)
s3 hsl(4,9%,60%)

Greys
hsl(0,0%,10%)
hsl(0,0%,30%)
hsl(0,0%,50%)
hsl(0,0%,70%)
hsl(0,0%,90%)
 */

*{
    box-sizing: border-box;
}

html {
    /*background-color: hsl(199,33%,42%);*/
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 20px;
}
body {
    /* box-shadow: 0px 0px 8px hsl(0,0%,30%); */
    /* overflow-x: hidden; */
    /*font-size: 1rem;*/
    height: 100%;
    min-height: 100%;
    color: hsl(0, 0%, 95%);
}

.v-header {
    /* height: 100vh; */
    align-items: center;
    
} 

.fullscreen-video-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -10;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    /* height: 100%; */
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #225470;
    z-index: -9;
    opacity: 0.75;
}

.content {
    position: static;
    z-index:0;
}

/* h1, #header>p {
    color: hsl(4,25%,35%);
} */

h1 {
    font-weight: bold;
}

h3 {
    text-align: center;
    /* color: hsl(4,9%,25%); */
}

.screen-only {
    text-align: center;
/*     color: hsl(4,9%,25%); */
}
a:link {
/*     color: hsl(4,9%,10%); */
    text-decoration: none;
}
a:hover {
    text-decoration: underline overline;
}
/*hide rows*/
.w3-third > h8 {
    visibility: hidden;
}

ul,p {
/*     color: hsl(0,0%,15%); */
}

@media (max-width: 500px) {
    .quote {
        padding-top: 0px;
    }
}

@media print {
    .screen-only {
        display: none;
        text-decoration: none;
    }
}