/*
Primary - hsl(199,33%,67%) blue
p1 hsl(199,33%,42%)
p2 hsl(199,33%,67%)
p3 hsl(199,33%,92%)


Secondary - hsl(4,9%,35%) dark brown
s1 hsl(4,9%,15%)
s2 hsl(4,9%,30%)
s3 hsl(4,9%,60%)

Greys
hsl(0,0%,10%)
hsl(0,0%,30%)
hsl(0,0%,50%)
hsl(0,0%,70%)
hsl(0,0%,90%)
 */

html {
    /*background-color: hsl(199,33%,42%);*/
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 18px;
}
body {
    box-shadow: 0px 0px 8px hsl(0,0%,30%);
    /*font-size: 1rem;*/
}
h1 {
    color: hsl(4,9%,15%);
}
h3 {
    text-align: center;
    color: hsl(4,9%,25%);
}
.screen-only {
    text-align: center;
    color: hsl(4,9%,25%);
}
a:link {
    color: hsl(4,9%,10%);
    text-decoration: none;
}
a:hover {
    text-decoration: underline overline;
}
/*hide rows*/
.w3-third > h1 {
    visibility: hidden;
}
ul {
    text-align: left;
}
@media print {
    .screen-only {
        display: none;
        text-decoration: none;
    }
}